<body>
  <h1><%= cat.name %></h1>
  This cat is <%= cat.description %> <% if (cat.isCute){ %>
  <p>this cute cat is the cutest!</p>
  <%} else {%>
  <p>this cat isnt that cute tbh...</p>
  <%}%>

  <form action="/cats/<%= cat._id %>?_method=DELETE" method="post">
    <button type="submit">Delete cat :(</button>
  </form>

  <a href="/cats/<%= cat._id %>/edit">Edit <%= cat.name %></a>
  <a href="/cats">Back to cats :D</a>
</body>
